---
---

@import "main";

body, p, li, td {
  font-family: 'Courier New', monospace !important;
  font-size: 0.9rem !important;
}

#main-wrapper {
  overflow-x: hidden !important;
}

.sidebar {
  overflow-x: hidden !important;
  width: 280px !important;
}

html, body {
  overflow-x: hidden !important;
  max-width: 100% !important;
}
